{% extends "header.html" %}

{% block body %}

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#A" aria-controls="A" role="tab" data-toggle="tab">A</a></li>
    <li role="presentation"><a href="#B" aria-controls="B" role="tab" data-toggle="tab">B</a></li>
    <li role="presentation"><a href="#C" aria-controls="C" role="tab" data-toggle="tab">C</a></li>
  </ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="A">
	<ul>
	   <li>1</li>
	   <li>2</li>
	   <li>3</li>
	</ul>
  </div>
  
  <div role="tabpanel" class="tab-pane fade" id="B">B-1</div>

  <div role="tabpanel" class="tab-pane fade" id="C">C-1</div>

</div>

</div>

{% endblock %}
 